body{
    background-image: url('background.png');
    background-repeat:no-repeat;
}
#mycursor {
    position: fixed;
    display : none;
    width : 40px;
    height : 40px;
    background-image:url('crosshair.png');
}
 
#mycursor.pushed {
    background-color : blue;

}

table{
    width: 1260px;
    height:  700px;
}

td{
    border: 1px solid black;
}

/*-webkit-transform: scale(1);
-moz-transform: scale(1);
transform: scale(1);

-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
transition:all .3s ease;*/

img {
    vertical-align: middle;
}